In [1]:
%load_ext cypher
%matplotlib inline

http://neo4j.com/docs/2.3.1/cypher-refcard/

In [2]:
!curl -s http://localhost:7474/db/data/ | grep neo4j_version

  "neo4j_version" : "2.3.1"

## Borrado de todos los nodos y relaciones de la base de datos

In [3]:
%%cypher
MATCH (n) DETACH DELETE n

0 rows affected.

[]

## Crear 1 nodo

In [4]:
CREATE (ann:Person { name: 'Ann' }) 
RETURN ann

SyntaxError: invalid syntax (<ipython-input-4-6a4d59c6ab4e>, line 1)

In [5]:
%cypher CREATE (dan:Person { name: 'Dan' }) RETURN dan

1 labels added.
1 nodes created.
1 properties set.

[[{u'name': u'Dan'}]]

## Crear relaciones

In [6]:
MATCH (a:Person { name: 'Ann' }), 
    (b:Person { name: 'Dan' })
CREATE (a)-[:KNOWS]->(b)

SyntaxError: invalid syntax (<ipython-input-6-764215e75880>, line 1)

## Merge 1 nodo

In [7]:
%%cypher
MERGE (n:Person { name: 'Victor' , age : 20}) RETURN n

1 labels added.
1 nodes created.
2 properties set.

[[{u'age': 20, u'name': u'Victor'}]]

## Merge 1 relaci√≥n

In [8]:
%%cypher
MATCH (a:Person { name: 'Ann' })
MATCH (b:Person { name: 'Dan' })
MERGE (a)-[:KNOWS]->(b)

0 rows affected.

[]

In [9]:
%%cypher
MATCH (a:Person { name: 'Ann' }), (b:Person { name: 'Victor' })
MERGE (a)-[:KNOWS]->(b)

0 rows affected.

[]

## Nodos y relaciones al mismo tiempo

In [10]:
%%cypher
CREATE (Felix:Person {name:'Felix'})
CREATE (Mariam:Person {name:'Mariam',
                       born:1964})
CREATE
  (Felix)-[:KNOWS {since:2010}]->(Mariam)
;

2 labels added.
2 nodes created.
4 properties set.
1 relationships created.

[]

## Encontrar patrones

In [11]:
MATCH (n:Person { name: 'Ann' }) 
RETURN n

SyntaxError: invalid syntax (<ipython-input-11-52f294ed2911>, line 1)

In [12]:
%%cypher 
MATCH (n:Person) RETURN n

4 rows affected.

[[{u'name': u'Dan'}],
 [{u'age': 20, u'name': u'Victor'}],
 [{u'name': u'Felix'}],
 [{u'born': 1964, u'name': u'Mariam'}]]

In [13]:
%%cypher 
MATCH (n:Person) 
WHERE n.age > 10
RETURN n

1 rows affected.

[[{u'age': 20, u'name': u'Victor'}]]

In [14]:
%%cypher 
MATCH (n:Person { name: 'Ann' })-[r:KNOWS]-(neighbors) 
RETURN n,neighbors

0 rows affected.

[]

In [15]:
%%cypher
MATCH (h:Person)<-[:KNOWS]-(:Person)-[:KNOWS]->(Person) 
RETURN h.name AS Name, COUNT(*) AS count
ORDER BY count DESC
LIMIT 10

0 rows affected.

[]

In [16]:
%%cypher
MATCH (n:Person { name: 'Victor' })-[:KNOWS*1..3]-(neighbors) 
RETURN DISTINCT n, neighbors

0 rows affected.

[]

In [17]:
%%cypher
MATCH (n:Person { name: 'Dan' })-[:KNOWS*1..3]-(neighbors) 
RETURN n, collect(DISTINCT neighbors)

0 rows affected.

[]

## Actualizar 1 nodo

In [18]:
MATCH (n:Person {name : "Ann"})
SET n.hair = "Brown"

SyntaxError: invalid syntax (<ipython-input-18-15f68238d74f>, line 1)

## Borrar 1 nodo

In [19]:
%%cypher
MATCH (Alex:Person {name:"Alex"})
DELETE Alex

0 rows affected.

[]

## Algoritmos

In [20]:
MATCH p=shortestPath(
  (a:Person { name: 'Ann' })-[:KNOWS]-(b:Person { name: 'Dan'})
)
RETURN p

SyntaxError: invalid syntax (<ipython-input-20-eab3650437df>, line 1)

In [21]:
%%cypher
MATCH p=shortestPath(
  (a:Person { name: 'Victor' })-[:KNOWS*1..3]-(b:Person { name: 'Dan'})
)
RETURN p

0 rows affected.

[]

In [22]:
%%cypher
CREATE (Alice:Person {name:'Alice', age:38,
 address:{city:'London', residential:true}})

Code [200]: OK. Request fulfilled, document follows.

Neo.ClientError.Statement.InvalidType:
Property values can only be of primitive types or arrays thereof