In [102]:
%load_ext cypher
%matplotlib inline

The cypher extension is already loaded. To reload it, use:
  %reload_ext cypher

http://neo4j.com/docs/2.3.1/cypher-refcard/

In [131]:
!curl -s http://localhost:7474/db/data/ | grep neo4j_version

  "neo4j_version" : "2.3.1"

## Borrado de todos los nodos y relaciones de la base de datos

In [132]:
%%cypher
MATCH (n) DETACH DELETE n

0 rows affected.

[]

## Crear 1 nodo

In [133]:
%%cypher
CREATE (ann:Person { name: 'Ann' }) 
RETURN ann

1 labels added.
1 nodes created.
1 properties set.

[[{u'name': u'Ann'}]]

In [134]:
%cypher CREATE (dan:Person { name: 'Dan' }) RETURN dan

1 labels added.
1 nodes created.
1 properties set.

[[{u'name': u'Dan'}]]

## Crear relaciones

In [135]:
%%cypher
MATCH (a:Person { name: 'Ann' }), (b:Person { name: 'Dan' })
CREATE (a)-[:KNOWS]->(b)

1 relationships created.

[]

## Merge 1 nodo

In [136]:
%%cypher
MERGE (n:Person { name: 'Victor' , age : 20}) RETURN n

1 labels added.
1 nodes created.
2 properties set.

[[{u'age': 20, u'name': u'Victor'}]]

## Merge 1 relaci√≥n

In [137]:
%%cypher
MATCH (a:Person { name: 'Ann' })
MATCH (b:Person { name: 'Dan' })
MERGE (a)-[:KNOWS]->(b)

0 rows affected.

[]

In [138]:
%%cypher
MATCH (a:Person { name: 'Ann' }), (b:Person { name: 'Victor' })
MERGE (a)-[:KNOWS]->(b)

1 relationships created.

[]

## Nodos y relaciones al mismo tiempo

In [139]:
%%cypher
CREATE (Felix:Person {name:'Felix'})
CREATE (Mariam:Person {name:'Mariam', born:1964})
CREATE
  (Felix)-[:KNOWS {since:2010}]->(Mariam)
;

2 labels added.
2 nodes created.
4 properties set.
1 relationships created.

[]

## Encontrar patrones

In [112]:
%%cypher 
MATCH (n:Person { name: 'Ann' }) RETURN n

1 rows affected.

[[{u'name': u'Ann'}]]

In [113]:
%%cypher 
MATCH (n:Person) RETURN n

5 rows affected.

[[{u'name': u'Ann'}],
 [{u'name': u'Dan'}],
 [{u'age': 20, u'name': u'Victor'}],
 [{u'name': u'Felix'}],
 [{u'born': 1964, u'name': u'Mariam'}]]

In [114]:
%%cypher 
MATCH (n:Person) 
WHERE n.age > 10
RETURN n

1 rows affected.

[[{u'age': 20, u'name': u'Victor'}]]

In [115]:
%%cypher 
MATCH (n:Person { name: 'Ann' })-[r:KNOWS]-(neighbors) 
RETURN n,neighbors

2 rows affected.

[[{u'name': u'Ann'}, {u'age': 20, u'name': u'Victor'}],
 [{u'name': u'Ann'}, {u'name': u'Dan'}]]

In [116]:
%%cypher
MATCH (h:Person)<-[:KNOWS]-(:Person)-[:KNOWS]->(Person) 
RETURN h.name AS Name, COUNT(*) AS count
ORDER BY count DESC
LIMIT 10

2 rows affected.

[[u'Victor', 1], [u'Dan', 1]]

In [117]:
%%cypher
MATCH (n:Person { name: 'Victor' })-[:KNOWS*1..3]-(neighbors) 
RETURN DISTINCT n, neighbors

2 rows affected.

[[{u'age': 20, u'name': u'Victor'}, {u'name': u'Ann'}],
 [{u'age': 20, u'name': u'Victor'}, {u'name': u'Dan'}]]

In [118]:
%%cypher
MATCH (n:Person { name: 'Dan' })-[:KNOWS*1..3]-(neighbors) 
RETURN n, collect(DISTINCT neighbors)

1 rows affected.

[[{u'name': u'Dan'}, [{u'name': u'Ann'}, {u'age': 20, u'name': u'Victor'}]]]

## Actualizar 1 nodo

In [146]:
%%cypher
MATCH (n:Person {name : "Ann"})
SET n.hair = "Brown"

1 properties set.

[]

## Borrar 1 nodo

In [149]:
%%cypher
MATCH (Alex:Person {name:"Alex"})
DELETE Alex

1 nodes deleted.

[]

## Algoritmos

In [119]:
%%cypher
MATCH p=shortestPath(
  (a:Person { name: 'Ann' })-[:KNOWS]-(b:Person { name: 'Dan'})
)
RETURN p

1 rows affected.

[[[{u'name': u'Ann'}, {}, {u'name': u'Dan'}]]]

In [121]:
%%cypher
MATCH p=shortestPath(
  (a:Person { name: 'Victor' })-[:KNOWS*1..3]-(b:Person { name: 'Dan'})
)
RETURN p

1 rows affected.

[[[{u'age': 20, u'name': u'Victor'},
   {},
   {u'name': u'Ann'},
   {},
   {u'name': u'Dan'}]]]

In [122]:
%%cypher
CREATE (Alice:Person {name:'Alice', age:38,
 address:{city:'London', residential:true}})

Code [200]: OK. Request fulfilled, document follows.

Neo.ClientError.Statement.InvalidType:
Property values can only be of primitive types or arrays thereof