# MongoDB

En MongoDB vamos a crear una única colección donde vamos a guardar todos los datos:

<img src="https://i.imgur.com/uuzxKsH.png">

## Carga de datos en Pandas

In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_excel("data/accidentes.xlsx", engine='openpyxl')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   num_expediente  686 non-null    object
 1   fecha           686 non-null    datetime64[ns]
 2   distrito        686 non-null    object
 3   tipo_accidente  686 non-null    object
 4   sexo            686 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 26.9+ KB

In [3]:
df.sample(10)

,num_expediente,fecha,distrito,tipo_accidente,sexo
46,2020S002326,2020-02-01,TETUÁN,Caída,Hombre
207,2020S007277,2020-05-26,CIUDAD LINEAL,Colisión fronto-lateral,Hombre
129,2020S006534,2020-05-03,CENTRO,Colisión fronto-lateral,Hombre
12,2020S000398,2020-01-08,CENTRO,Otro,Hombre
507,2020S011652,2020-08-25,MONCLOA-ARAVACA,Colisión fronto-lateral,Hombre
26,2020S001240,2020-01-18,MONCLOA-ARAVACA,Caída,Mujer
471,2020S010855,2020-08-04,PUENTE DE VALLECAS,Caída,Hombre
456,2020S010688,2020-07-31,CHAMBERÍ,Caída,Mujer
157,2020S006722,2020-05-11,SAN BLAS-CANILLEJAS,Caída,Hombre
469,2020S010813,2020-08-03,TETUÁN,Caída,Hombre

## Carga de datos en Mongodb

In [4]:
import pymongo 
from pymongo import MongoClient
from pymongo.errors import DuplicateKeyError
import json

from pprintpp import pprint as pp

In [5]:
# connect to database
connection = MongoClient('localhost', 27017)

In [6]:
# Borramos la base de datos
connection.drop_database('accidentes')

db = connection.accidentes

In [7]:
json_string = df.to_json(orient = 'records')
json_list = json.loads(json_string)

In [8]:
pp(json_list[0])

{
    'distrito': 'SAN BLAS-CANILLEJAS',
    'fecha': 1577923200000,
    'num_expediente': '2020S000044',
    'sexo': 'Hombre',
    'tipo_accidente': 'Colisión frontal',
}

Completa el siguiente código para insertar los datos en MongoDB:

In [ ]:
for row_json in json_list:
    row_json['fecha'] = datetime.datetime.fromtimestamp(row_json['fecha'] / 1e3)
    
    <<COMPLETA EL CODIGO>>

Nota: Es necesario convertir la fecha a un tipo que monodb entienda ...

## Resolución del caso de uso

### Datos del número de expediente 2020S000044

In [ ]:
<<COMPLETA EL CODIGO>>
for doc in rs:
    print(doc)

Comprueba que te muestra el siguiente resultado:

```
{'_id': ObjectId('5fdaf494a7b30136e036e398'), 'num_expediente': '2020S000044', 'fecha': datetime.datetime(2020, 1, 2, 0, 0), 'distrito': 'SAN BLAS-CANILLEJAS', 'tipo_accidente': 'Colisión frontal', 'sexo': 'Hombre'}
```

### Accidentes que ocurren en el distrito de Moratalaz ordenados por fecha

In [ ]:
<<COMPLETA EL CODIGO>>
for doc in rs:
    print(doc)

Comprueba que te muestra el siguiente resultado:

```
{'num_expediente': '2020S014930', 'fecha': datetime.datetime(2020, 10, 22, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S013510', 'fecha': datetime.datetime(2020, 9, 29, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S013471', 'fecha': datetime.datetime(2020, 9, 28, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Mujer'}
{'num_expediente': '2020S012562', 'fecha': datetime.datetime(2020, 9, 12, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S010126', 'fecha': datetime.datetime(2020, 7, 19, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S009414', 'fecha': datetime.datetime(2020, 7, 6, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Atropello a persona', 'sexo': 'Hombre'}
{'num_expediente': '2020S008969', 'fecha': datetime.datetime(2020, 6, 27, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Mujer'}
{'num_expediente': '2020S008582', 'fecha': datetime.datetime(2020, 6, 21, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S008440', 'fecha': datetime.datetime(2020, 6, 18, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S007204', 'fecha': datetime.datetime(2020, 5, 23, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Colisión fronto-lateral', 'sexo': 'Hombre'}
{'num_expediente': '2020S001078', 'fecha': datetime.datetime(2020, 1, 16, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Colisión fronto-lateral', 'sexo': 'Hombre'}
```

### Número de accidentes por tipo

In [ ]:
<<COMPLETA EL CODIGO>>
for doc in rs:
    print(doc)

Comprueba que te muestra el siguiente resultado:

```
{'total': 21, 'tipo_accidente': 'Otro'}
{'total': 290, 'tipo_accidente': 'Caída'}
{'total': 19, 'tipo_accidente': 'Colisión frontal'}
{'total': 2, 'tipo_accidente': 'Atropello a animal'}
{'total': 1, 'tipo_accidente': 'Vuelco'}
{'total': 164, 'tipo_accidente': 'Colisión fronto-lateral'}
{'total': 1, 'tipo_accidente': 'Colisión múltiple'}
{'total': 80, 'tipo_accidente': 'Alcance'}
{'total': 50, 'tipo_accidente': 'Colisión lateral'}
{'total': 36, 'tipo_accidente': 'Atropello a persona'}
{'total': 22, 'tipo_accidente': 'Choque contra obstáculo fijo'}
```

### Número de accidentes cuyo tipo es colisión frontal

In [ ]:
<<COMPLETA EL CODIGO>>
for doc in rs:
    print(doc)

Comprueba que te muestra el siguiente resultado:

```
{'total': 19, 'tipo_accidente': 'Colisión frontal'}
```