# Neo4j

<br><br> 

<img src="https://i.imgur.com/6x5biUO.png">

<br><br>

Adicionalmente se van a guardar los siguientes atributos:

Nodo Persona

- Sexo de la persona

Nodo Accidente

- Número de Expediente
- Tipo de Accidente

Nodo Lugar

- Distrito donde ocurre el accidente  

Relación TIENE
- Fecha del accidente

## Carga de datos en Pandas

In [1]:
import pandas as pd

df = pd.read_excel("data/accidentes.xlsx", engine='openpyxl')
df = df.assign(fecha = lambda x: x.fecha.dt.strftime('%d-%m-%Y'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   num_expediente  686 non-null    object
 1   fecha           686 non-null    object
 2   distrito        686 non-null    object
 3   tipo_accidente  686 non-null    object
 4   sexo            686 non-null    object
dtypes: object(5)
memory usage: 26.9+ KB

In [2]:
df.sample(10)

    num_expediente       fecha   distrito           tipo_accidente    sexo
194    2020S007186  24-05-2020     CENTRO                    Caída   Mujer
184    2020S007209  22-05-2020     CENTRO                  Alcance  Hombre
656    2020S014792  20-10-2020  SALAMANCA                    Caída  Hombre
669    2020S015049  25-10-2020     CENTRO                    Caída  Hombre
611    2020S013876  05-10-2020     TETUÁN                    Caída  Hombre
188    2020S007178  23-05-2020  CHAMARTÍN                    Caída   Mujer
331    2020S008811  24-06-2020     LATINA  Colisión fronto-lateral  Hombre
389    2020S009674  10-07-2020     RETIRO                    Caída  Hombre
536    2020S012104  05-09-2020     RETIRO  Colisión fronto-lateral   Mujer
106    2020S005249  07-03-2020    BARAJAS                    Caída  Hombre

## Carga de datos en Neo4j

In [3]:
from py2neo import Graph, Node, Relationship

graph = Graph()

In [4]:
graph.delete_all()

In [5]:
import json

json_string = df.to_json(orient = 'records')
json_list = json.loads(json_string)

Completa el siguiente código para poder insertar los datos en la base de datos

In [ ]:
for index, row_json in enumerate(json_list):
    
    tipo_accidente_value = row_json["tipo_accidente"]
    num_expediente_value =row_json["num_expediente"]
    distrito_value = row_json["distrito"]
    sexo_value = row_json["sexo"]
    fecha_value = row_json["fecha"]
    
    # Nodos
    persona = Node(<<TO_BE_COMPLETED>>)
    accidente = Node(<<TO_BE_COMPLETED>>)
    lugar = Node(<<TO_BE_COMPLETED>>)

    
    # Relaciones
    rel_accidente_persona = Relationship(<< COMPLETA EL CODIGO >>)
    rel_accidente_lugar = Relationship(<< COMPLETA EL CODIGO >>)
       
    graph.merge(persona, "Persona", "sexo")
    graph.merge(persona, "Lugar", "distrito")
    graph.create(accidente | rel_accidente_persona | rel_accidente_lugar)
    
    if index % 100 == 0:
        print(index)

## Resolución del caso de uso

### Datos del número de expediente 2020S000044

In [7]:
%load_ext cypher

In [ ]:
%%cypher
<<TO_BE_COMPLETED>>

Comprueba que se muestran los siguientes resultados:

<img src="https://i.imgur.com/XgYCUNN.png">

### Accidentes que ocurren en el distrito de Moratalaz ordenados por fecha

In [ ]:
%%cypher
<<TO_BE_COMPLETED>>

Comprueba que se muestran los siguientes resultados:

<img src="https://i.imgur.com/9bz5xWP.png">

### Número de accidentes por tipo

In [ ]:
%%cypher
<<TO_BE_COMPLETED>>

Comprueba que se muestran los siguientes resultados:

<img src="https://i.imgur.com/wK8crWQ.png">

### Número de accidentes cuyo tipo es colisión frontal

In [ ]:
%%cypher
<<TO_BE_COMPLETED>>

Comprueba que se muestran los siguientes resultados:

<img src="https://i.imgur.com/3J5TnyX.png">