# MongoDB

En MongoDB vamos a crear una única colección donde vamos a guardar todos los datos:

<img src="images/MongoDB.png">

## Carga de datos en Pandas

In [3]:
import pandas as pd
import datetime

In [4]:
df = pd.read_excel("data/accidentes.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   num_expediente  614 non-null    object
 1   fecha           614 non-null    datetime64[ns]
 2   distrito        614 non-null    object
 3   tipo_accidente  614 non-null    object
 4   sexo            614 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 24.1+ KB

In [5]:
df.sample(10)

,num_expediente,fecha,distrito,tipo_accidente,sexo
212,2020S007679,2020-06-02,PUENTE DE VALLECAS,Caída,Hombre
207,2020S007812,2020-06-02,HORTALEZA,Caída,Hombre
173,2020S007159,2020-05-23,MONCLOA-ARAVACA,Caída,Hombre
239,2020S008091,2020-06-10,ARGANZUELA,Caída,Mujer
588,2020S014930,2020-10-22,MORATALAZ,Caída,Hombre
185,2020S007318,2020-05-26,MONCLOA-ARAVACA,Caída,Hombre
522,2020S013108,2020-09-23,RETIRO,Caída,Hombre
564,2020S014144,2020-10-10,TETUÁN,Alcance,Hombre
451,2020S011580,2020-08-24,SAN BLAS-CANILLEJAS,Colisión fronto-lateral,Hombre
434,2020S011283,2020-08-14,CENTRO,Colisión fronto-lateral,Hombre

## Carga de datos en Mongodb

In [13]:
import pymongo 
from pymongo import MongoClient
from pymongo.errors import DuplicateKeyError
import json

from pprintpp import pprint as pp

In [14]:
# connect to database
connection = MongoClient('localhost', 27017)

In [15]:
# Borramos la base de datos
connection.drop_database('accidentes')

db = connection.accidentes

In [16]:
json_string = df.to_json(orient = 'records')
json_list = json.loads(json_string)

In [17]:
pp(json_list[0])

{
    'distrito': 'SAN BLAS-CANILLEJAS',
    'fecha': 1577923200000,
    'num_expediente': '2020S000044',
    'sexo': 'Hombre',
    'tipo_accidente': 'Colisión frontal',
}

Es necesiario convertir la fecha a un tipo que monodb entienda ...

In [18]:
for row_json in json_list:
    row_json['fecha'] = datetime.datetime.fromtimestamp(row_json['fecha'] / 1e3)
    
    <<TO_BE_COMPLETED>>

## Resolución del caso de uso

### Datos del número de expediente 2020S000044

In [ ]:
<<TO_BE_COMPLETED>>
for doc in rs:
    print(doc)

{'_id': ObjectId('5fdaf494a7b30136e036e398'), 'num_expediente': '2020S000044', 'fecha': datetime.datetime(2020, 1, 2, 0, 0), 'distrito': 'SAN BLAS-CANILLEJAS', 'tipo_accidente': 'Colisión frontal', 'sexo': 'Hombre'}

### Accidentes que ocurren en el distrito de Moratalaz ordenados por fecha

In [ ]:
<<TO_BE_COMPLETED>>
for doc in rs:
    print(doc)

{'num_expediente': '2020S014930', 'fecha': datetime.datetime(2020, 10, 22, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S013510', 'fecha': datetime.datetime(2020, 9, 29, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S013471', 'fecha': datetime.datetime(2020, 9, 28, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Mujer'}
{'num_expediente': '2020S012562', 'fecha': datetime.datetime(2020, 9, 12, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S010126', 'fecha': datetime.datetime(2020, 7, 19, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S008969', 'fecha': datetime.datetime(2020, 6, 27, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Mujer'}
{'num_expediente': '2020S008582', 'fecha': datetime.datetime(2020, 6, 21, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S008440', 'fecha': datetime.datetime(2020, 6, 18, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Caída', 'sexo': 'Hombre'}
{'num_expediente': '2020S001078', 'fecha': datetime.datetime(2020, 1, 16, 0, 0), 'distrito': 'MORATALAZ', 'tipo_accidente': 'Colisión fronto-lateral', 'sexo': 'Hombre'}

### Número de accidentes por tipo

In [ ]:
<<TO_BE_COMPLETED>>
for doc in rs:
    print(doc)

{'total': 281, 'tipo_accidente': 'Caída'}
{'total': 78, 'tipo_accidente': 'Alcance'}
{'total': 20, 'tipo_accidente': 'Otro'}
{'total': 13, 'tipo_accidente': 'Colisión frontal'}
{'total': 1, 'tipo_accidente': 'Vuelco'}
{'total': 20, 'tipo_accidente': 'Choque contra obstáculo fijo'}
{'total': 46, 'tipo_accidente': 'Colisión lateral'}
{'total': 153, 'tipo_accidente': 'Colisión fronto-lateral'}
{'total': 2, 'tipo_accidente': 'Atropello a animal'}

### Número de accidentes cuyo tipo es colisión frontal

In [ ]:
<<TO_BE_COMPLETED>>
for doc in rs:
    print(doc)

{'total': 13, 'tipo_accidente': 'Colisión frontal'}