# Neo4j

<br><br> 

<img src="images/neo4j.jpg" width=600 height=500>

<br><br>

Adicionalmente se van a guardar los siguientes atributos:

Nodo Persona

- Sexo de la persona

Nodo Accidente

- Número de Expediente
- Tipo de Accidente

Nodo Lugar

- Distrito donde ocurre el accidente  

Relación TIENE
- Fecha del accidente

## Carga de datos en Pandas

In [1]:
import pandas as pd

df = pd.read_excel("data/accidentes.xlsx")
df = df.assign(fecha = lambda x: x.fecha.dt.strftime('%d-%m-%Y'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   num_expediente  614 non-null    object
 1   fecha           614 non-null    object
 2   distrito        614 non-null    object
 3   tipo_accidente  614 non-null    object
 4   sexo            614 non-null    object
dtypes: object(5)
memory usage: 24.1+ KB

In [2]:
df.sample(10)

,num_expediente,fecha,distrito,tipo_accidente,sexo
604,2020S015235,28-10-2020,CHAMARTÍN,Colisión lateral,Hombre
117,2020S006534,03-05-2020,CENTRO,Colisión fronto-lateral,Hombre
471,2020S012017,02-09-2020,HORTALEZA,Caída,Hombre
139,2020S006713,10-05-2020,RETIRO,Colisión lateral,Hombre
210,2020S007681,02-06-2020,MONCLOA-ARAVACA,Caída,Hombre
600,2020S015044,25-10-2020,CENTRO,Alcance,Mujer
169,2020S007178,23-05-2020,CHAMARTÍN,Caída,Mujer
329,2020S009334,04-07-2020,SAN BLAS-CANILLEJAS,Alcance,Hombre
286,2020S008610,21-06-2020,FUENCARRAL-EL PARDO,Caída,Hombre
189,2020S007414,27-05-2020,CENTRO,Alcance,Mujer

## Carga de datos en Neo4j

In [3]:
%load_ext cypher

In [4]:
%%cypher
MATCH (n)
OPTIONAL MATCH (n)-[r]-()
DELETE n,r

637 nodes deleted.
1228 relationship deleted.

[]

In [5]:
from py2neo import Graph, Node, Relationship

graph = Graph()

In [6]:
import json

json_string = df.to_json(orient = 'records')
json_list = json.loads(json_string)

In [7]:
for index, row_json in enumerate(json_list):
    
    tipo_accidente_value = row_json["tipo_accidente"]
    num_expediente_value =row_json["num_expediente"]
    distrito_value = row_json["distrito"]
    sexo_value = row_json["sexo"]
    fecha_value = row_json["fecha"]
    
    # Nodos
    persona = Node(<<TO_BE_COMPLETED>>)
    accidente = Node(<<TO_BE_COMPLETED>>)
    lugar = Node(<<TO_BE_COMPLETED>>)

    
    # Relaciones
    rel_accidente_persona = Relationship(<<TO_BE_COMPLETED>>)
    rel_accidente_lugar = Relationship(<<TO_BE_COMPLETED>>)
       
    graph.merge(persona | lugar)
    graph.create(accidente | rel_accidente_persona | rel_accidente_lugar)
    
    if index % 100 == 0:
        print(index)

0
100
200
300
400
500
600

## Resolución del caso de uso

%%cypher
<<TO_BE_COMPLETED>>### Datos del número de expediente 2020S000044

In [ ]:
%%cypher
<<TO_BE_COMPLETED>>

<img src="images/Neo4j-1.png">

### Accidentes que ocurren en el distrito de Moratalaz ordenados por fecha

In [ ]:
%%cypher
<<TO_BE_COMPLETED>>

<img src="images/Neo4j-2.png">

### Número de accidentes por tipo

In [ ]:
%%cypher
<<TO_BE_COMPLETED>>

<img src="images/Neo4j-3.png">

### Número de accidentes cuyo tipo es colisión frontal

In [ ]:
%%cypher
<<TO_BE_COMPLETED>>

<img src="images/Neo4j-4.png">