# Operaciones CRUD en Cassandra

In [ ]:
%load_ext cql

In [ ]:
%%cql
DROP KEYSPACE demo

In [ ]:
%%cql
CREATE KEYSPACE demo 
WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 1};

In [ ]:
%keyspace demo

In [ ]:
%%cql
CREATE TABLE users (
firstname text, 
lastname text, 
age int, 
email text, 
city text, 
PRIMARY KEY (lastname));

In [ ]:
%cql INSERT INTO users (firstname, lastname, age, email, city) VALUES ('John', 'Smith', 46, 'johnsmith@email.com', 'Sacramento'); 
%cql INSERT INTO users (firstname, lastname, age, email, city) VALUES ('Jane', 'Doe', 36, 'janedoe@email.com', 'Beverly Hills'); 
%cql INSERT INTO users (firstname, lastname, age, email, city) VALUES ('Rob', 'Byrne', 24, 'robbyrne@email.com', 'San Diego');

In [ ]:
%cql SELECT * FROM users;

In [ ]:
%cql SELECT * FROM users WHERE lastname= 'Doe';

In [ ]:
%cql UPDATE users SET city= 'San Jose' WHERE lastname= 'Doe';

In [ ]:
%cql SELECT * FROM users where lastname= 'Doe';

In [ ]:
%cql DELETE from users WHERE lastname = 'Doe';

In [ ]:
%cql SELECT * FROM users;